# Folders 
OurProject/Binaries/
OurProject/DerivedDataCache/
OurProject/Intermediate/
OurProject/Saved/
OurProject/Build/
OurProject/Content/StarterContent/
 
# Visual Studio solutions
OurProject/*.sln
OurProject/*.sdf
OurProject/*.opensdf 
OurProject/*.suo
 
# Linux Project files
OurProject/*.pro
OurProject/*.kdev4
OurProject/CMakeLists.txt
OurProject/Makefile
 
# Xcode Project files
OurProject/*.xcodeproj

OurProject/Content/Maps/Map2_BuiltData.uasset
OurProject/Content/ThirdPersonBP/Maps/ThirdPersonExampleMap_BuiltData.uasset
*.uasset
OurProject/.vs/OurProject/v16/Browse.VC.db
